#body {
  background-color: #1ed760;
  height: 100%;
}
.container {
  height: 100%;
  padding-bottom: 0rem;
}
.top-margin {
  margin-top: 2rem;
}
button {
  background-color: #1ed760;
}
#heading {
  color: aliceblue;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

#grid img {
  height: 125px;
  width: 125px;
  padding: 0;
  margin: 0;
}
.page-footer {
  color: white;
}
